{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^reflect-metadata",
    "^react(.*)$",
    "^next(.*)$",
    "^@(?!(acter/))(.*)$",
    "^(?!(@acter/))(.*)$",
    "^@acter/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "typescript"]
}
