version: '3.8'

services:
  db:
    container_name: ${DB_NAME}
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  fake-smtp:
    image: reachfive/fake-smtp-server
    hostname: mail
    ports:
      - 1080:1080
      - 1025:1025
